<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="upper_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="jRightShoulder_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightShoulder_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightShoulder_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightShoulder_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightShoulder_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightShoulder_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightElbow_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightElbow_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightElbow_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightElbow_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightWrist_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightWrist_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightWrist_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightWrist_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
