<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="upper_arm_osim_shoulder_mesh">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import upper_arm_osim_shoulder_mesh urdf file -->
    <xacro:include filename="$(find image_pose_tracking)/config/right_arm_osim_shoulder_mesh.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="upper_arm_osim_shoulder_mesh.ros2_control.xacro" />


    <xacro:upper_arm_osim_shoulder_mesh_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
